.c3,
.c5 {
     background-color: #f2aba9;
     font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#d2 {
    color:#0000f5;
    font-size: 36px;
}

.c3 {
    font-size: 24px;
}

#d4 {
    background-color: #a1fc8f;
    font-size: 24px;
    font-weight: bold;
}
